.App {
  text-align: center;
}

section {
  flex: 1 1 auto;
  overflow: auto;
  padding: 20px;
}

nav {
  flex: 1 0 200px;
  background: #f3f3f3;
  padding: 10px;
  max-width: 300px;
}

h2 {
  font-weight: bold;
  margin: 25px 0 10px 0;
  border-top: 1px solid #000;
}

h2 span {
  border-top: 3px solid #000;
  padding: 1px 0 0 0;
}

.ui.items.item-margin-left {
  margin-left: 25px !important;
}

.ui.tag.labels {
  max-width: 700px;
}

.wrapper {
  display: flex;
  height: 100vh;
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  nav {
    max-width: 100%;
    flex: none;
    padding-bottom: 30px;
  }

  .ui.items.item-margin-left {
    margin-left: 25px !important;
    break-before: auto;
  }

  .ui.tag.labels {
    max-width: 700px;
  }

  .ui.blue.tag.label::before,
  ::after {
    display: none;
    width: auto;
  }

  .wrapper {
    display: block;
    height: 100vh;
  }
  .ui.list.contact {
    display: grid;
    grid-template-columns: 3fr 3fr 5fr;
    grid-template-rows: auto;
    margin-bottom: 20px;
  }

  .item.links {
    width: 100%;
  }

  .item.languages {
    width: 100%;
  }

  .talk.icon,
  .write.icon {
    display: none;
  }

  .ui.bottom.left.attached.label {
    display: none;
  }

  .page-break {
    page-break-before: always;
    break-before: always;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
  nav {
    flex: 1;
    order: 0 !important;
    max-width: 100%;
    max-height: 110px;
    overflow: hidden;
  }
  .ui[class*='bottom left attached'].label {
    z-index: 1;
    width: 98%;
  }
  section {
    flex: 1;
    order: 1 !important;
    flex-wrap: wrap;
  }
}
